<div class="container">
  <div class="left-menu">

    <div class="header-item">
      <button mat-button [matMenuTriggerFor]="menuCreate">Создать</button>
      <mat-menu #menuCreate="matMenu">
        <button mat-menu-item  (click)="openDialog()">Доску</button>
        <button mat-menu-item>Карточку</button>
      </mat-menu>
    </div>

    <div class="header-item">
      <button mat-button [matMenuTriggerFor]="menuCheckout">
        Сменить доску
      </button>
      <mat-menu #menuCheckout="matMenu">
        <button *ngFor="let boardname of boardsNames" mat-menu-item>{{boardname}}</button>
      </mat-menu>
    </div>
  </div>

  <div class="right-menu">
    <div class="header-item">
      <button mat-button (click)="onClickLogout()">Выход</button>
    </div>
  </div>

  <div class="header-item"></div>
  <div class="header-item user">
    <div class="user-photo"></div>
  </div>
</div>
