<div class="container" *mobxAutorun>
  <span>Количество карточек: {{boardsStore.countCards}}</span>
  <br>
  <div>Тестирование customBehaviourSubject</div>
  <br>
  <button style="width: 200px;" (click)="getValueBS()">Подписаться на BehSub</button>
  <button style="width: 200px;" (click)="setValueBS()">Обновить значение BehSub</button>
  <button style="width: 200px;" (click)="completeBS()">Завершить подписку BehSub</button>
  <span>Текущее значение BS после подписки: {{currentValueBehSub}}</span>
  <br>
  <div>Тестирование customSubject</div>
  <br>
  <button style="width: 200px;" (click)="getValueS()">Подписаться на Sub</button>
  <button style="width: 200px;" (click)="setValueS()">Обновить значение Sub</button>
  <button style="width: 200px;" (click)="completeS()">Завершить подписку Sub</button>
  <span>Текущее значение Sub после подписки: {{currentValueSub}}</span>
  <br>
  <div>Тестирование ReplaySubject</div>
  <br>
  <button style="width: 200px;" (click)="getValueRS()">Подписаться на RSub</button>
  <button style="width: 200px;" (click)="setValueRS()">Обновить значение RSub</button>
  <button style="width: 200px;" (click)="completeRS()">Завершить подписку RSub</button>
  <span>Текущее значение ReplaySub после подписки: {{currentValueReplaySub}}</span>
  <br>


  <div class="statuses drag-container" cdkDropListGroup>

    <div 
      [id]="status.id"
      class="status drag-list" 
      *ngFor="let status of boardsStore.statusesFromCurrentBoard"
      cdkDropList
      [cdkDropListData]="boardsStore.mappedCardFromCurrentBoard[status.name]" 
      (cdkDropListDropped)="drop($event)"
      >

      <span #statusName>{{status.name}}</span>
      <div 
        *ngFor="let card of boardsStore.mappedCardFromCurrentBoard[status.name]" 
        class="card-container"
        cdkDrag
        [id]="card.id"
        >
        <app-card [card]="card" class="drag-box"></app-card>
      </div>

      <div class="card-container hide" #addCard>
        <mat-card class="card">
          <mat-card-header>
            <mat-card-subtitle>Добавить карточку</mat-card-subtitle>
          </mat-card-header>
          <mat-card-actions>
            <button mat-button (click)="onClickAddCard(statusName)">Добавить</button>
          </mat-card-actions>
        </mat-card>
      </div>

    </div>
  </div>
</div>