:host {
  background-color: mistyrose;
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: row;
}

.container {
  margin: 5px;
  width: 100%;
  display: flex;
  flex-direction: column;

  .statuses {
    display: flex;
    flex-direction: row;
    margin: 5px;
    width: 100%;
    height: 100%;

    .status {
      width: calc(100% / 4);
      margin: 5px;
      padding: 10px;
      background-color: rgb(167, 110, 205);
      display: flex;
      flex-direction: column;

      &:hover .hide {
        transition: .3s;
        opacity: 1;
      }

      span {
        color: white;
        font-weight: 500;
      }

      .card-container {
        width: 100%;
        margin: 5px 0px;
        height: auto;
      }

    }

    .hide {
      opacity: 0;
      transition: .3s;
    }
  }
}