<form class="form-create-card" [formGroup]="createCardForm">
  <mat-form-field>
    <mat-label>Название</mat-label>
    <input matInput required formControlName="name" placeholder="Введите название">
  </mat-form-field>
  <mat-form-field class="textarea">
    <mat-label>Описание</mat-label>
    <textarea matInput formControlName="content" placeholder="Описание"></textarea>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Доска для карточки</mat-label>
    <mat-select required formControlName="boardId" (selectionChange)="changeBoard()"> 
      <mat-option *ngFor="let board of boards" [value]="board.id">{{board.name}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Статус карточки</mat-label>
    <mat-select formControlName="statusId" required >
      <mat-option *ngFor="let status of statusesFromBoard" [value]="status.id">{{status.name}}</mat-option>
    </mat-select>
  </mat-form-field>
</form>
<button 
  mat-flat-button color="primary" 
  type="submit" 
  [disabled]="createCardForm.invalid || creating"
  (click)="onClickSave()">Сохранить
</button>