.content {
  background-color: rgb(200, 200, 200);
  width: 100%;
  height: calc(100% - 55px);  // TODO высота хедера, вынести в переменные
  display: flex;
  align-items: center;
  justify-content: center;
}